{% extends "basic.html" %}

{% block title %}
Anuj Portfolio
{% endblock title %}

{% block hero %}
  <section id="hero" class="hero section dark-background">

      <img src="static/assets/img/background.png" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Anuj Gupta</h2>
        <p>I'm <span class="typed" data-typed-items="Developer"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section>
{% endblock hero %}

{% block footer %}
  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Portfolio</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">
        Designed by <a href="https://github.com/Anugup333/">Anuj Gupta</a>
      </div>
    </div>
  </footer>
{% endblock footer %}